---
const { href } = Astro.props;
const { class: customClass=" " }  = Astro.props;
---

<a href={href}  target="_blank" rel="noopener noreferrer" class=`rounded-full text-center ${customClass}  bg-[#0078D4] hover:bg-[#005597]  `>
    <slot />
</a>