---
import siteData from '../../site.json';

const { class: customClass = "" } = Astro.props;
---

<a href={siteData.nav.button2.link}  target="_blank" rel="noopener noreferrer"
                   class={`text-white bg-[#0078D4] hover:bg-[#005597]  font-medium rounded-full text-[20px] px-10 py-2  sm:px-16 text-center transition-all ${customClass}`}>
                    {siteData.nav.button2.text}
</a>
