---
const { href } = Astro.props;
const { class: customClass=" " }  = Astro.props;
---

<a href={href}  target="_blank" rel="noopener noreferrer" class=`rounded-full text-center ${customClass}  bg-[#4673A6] hover:bg-[#7A9EC6]  `>
    <slot />
</a>