---
import Accordion from "./Accordion.astro";
import site from "../../site.json";
import Container from "./Container.astro";

const faqItems = site.faq;
---

<Container>
<section id="FaQ" class=" text-white py-16 px-4 scroll-mt-16">
  
    <h2 class="text-4xl font-bold mb-8 mt-5 text-center text-[#FFFFFF]">Preguntas Frecuentes</h2>
    <Accordion items={faqItems} />
 
</section>
</Container>