---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog_contenido');
  return posts.map((post: CollectionEntry<'blog_contenido'>) => ({
    params: { slug: post.id },
    props: { post }
  }));
}

type Props = {
  post: CollectionEntry<'blog_contenido'>
};

const { post } = Astro.props as Props;
// Renderiza el Markdown y obtiene el componente Content
const { Content } = await post.render();
---
<article class="prose lg:prose-xl mx-auto p-4">
  <h1 class="text-4xl font-bold mb-2">{post.data.title}</h1>
  <p class="text-gray-500 mb-4">
    Publicado el {new Date(post.data.date).toLocaleDateString('es-PE')}
  </p>
  <p class="text-xl italic mb-8">{post.data.resume}</p>
  <!-- Aquí se muestra todo el contenido renderizado del Markdown -->
  <Content />
</article>