---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import BlogComponente from '../components/blog/blogcomponente.astro';
---

<Layout>
  <section class="py-12 mt-20">
    <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
      <h1 class="text-4xl font-bold text-center mb-8 text-[#FFFFFF]">Blog</h1>
      <p class="text-center text-[#F5F7FA] mb-12">Artículos y novedades.</p>
      <BlogComponente />
    </div>
  </section>
</Layout>