---
import Container from "../shared/Container.astro";
import Button from "../shared/Button.astro";
import HorizontalScroll from "../shared/HorizontalScroll";
import siteData from "../../site.json"
import ButtonContact2 from "../shared/ButtonContact2.astro"
import DemoSection from "../shared/DemoSection.jsx";
---


<section class="bg-[#04142D] w-full px-4">

    <div class="pt-20 md:pt-40 ">
      <Container class="flex flex-col items-center gap-8 md:flex-row">
      
        <article class="w-full text-center md:w-1/2 md:text-left">
          <h1 class="text-4xl font-bold text-[#FFFF] md:text-5xl">
            Gestión Inteligente para tu Bodega
          </h1>
          <p class="mt-4 text-2xl text-[#B7DBF6]">
            Optimiza tus ventas, controla tu inventario y emite facturas electrónicas fácilmente con BodegueroDigital. ¡Todo desde tu celular o computadora!
          </p>
          <div class="mt-10 flex flex-col justify-center items-center xl:flex-row gap-4">
            <div >
              <DemoSection  client:load />
            </div>
            <div >
              <ButtonContact2  />
            </div>
          </div>
        </article>

        <figure class="w-full md:w-1/2">
          <img 
            src="/images/1.svg" 
            alt="Panel de administración de restaurante mostrando estadísticas y controles" 
            class="w-full rounded-lg shadow-lg"
            loading="lazy"
            width="600"
            height="400"
          >
        </figure>
      </Container>
    </div>
  
    <section class="w-full bg-[#04142D] py-10 md:mt-12 md:mb-20">
      <Container>
        <h2 class="mb-5 text-center text-3xl font-bold text-white md:text-4xl">
          {siteData.support.title}
        </h2>
        <HorizontalScroll aria-label="Características de soporte" />
      </Container>
    </section>
  </section>


      
  
