---
import Nav from "../components/shared/Nav.astro";
import Footer from "../components/shared/Footer.astro"
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
<head>
    <!-- SEO Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- SEO Metadata -->
    <title>BodegueroDigital | Política de Privacidad</title>
    <meta name="description" content="Conoce la Política de Privacidad de BodegueroDigital.  Información sobre cómo recopilamos, usamos, almacenamos y protegemos tus datos personales al utilizar nuestra plataforma de gestión de restaurantes." />
    
    <!-- Open Graph -->
    <meta property="og:title" content="BodegueroDigital - Política de Privacidad" />
    <meta property="og:description" content="Conoce la Política de Privacidad de BodegueroDigital.  Información sobre cómo recopilamos, usamos, almacenamos y protegemos tus datos personales al utilizar nuestra plataforma de gestión de restaurantes." />
    <meta property="og:image" content="/images/LogoBode.svg" />
    <meta property="og:url" content="https://BodegueroDigital.com/politica-de-privacidad" />
    <meta property="og:type" content="website" />
    
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="BodegueroDigital - Política de Privacidad" />
    <meta name="twitter:description" content="Conoce la Política de Privacidad de BodegueroDigital.  Información sobre cómo recopilamos, usamos, almacenamos y protegemos tus datos personales al utilizar nuestra plataforma de gestión de restaurantes." />
    <meta name="twitter:image" content="/images/LogoBode.svg" />
    
    <!-- Canonical -->
    <link rel="canonical" href="https://BodegueroDigital.com/politica-de-privacidad" />
    
    <!-- Structured Data -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebPage",
      "name": "Política de Privacidad - BodegueroDigital",
      "url": "https://BodegueroDigital.com/politica-de-privacidad",
      "potentialAction": {
        "@type": "SpeakableSpecification",
        "cssSelector": ["h1", "h2", "h3", "p", "li"]
      }
    }
    </script>
    
    <!-- Favicon para modo claro -->
        <link rel="icon" media="(prefers-color-scheme: light)" type="image/svg+xml" href="/faviconBode.svg" />
        <!-- Favicon para modo oscuro -->
        <link rel="icon" media="(prefers-color-scheme: dark)" type="image/svg+xml" href="/faviconBode.svg" />
        <meta name="generator" content={Astro.generator} />
    </head>
    <body class="bg-[#04142D]">
        <Nav />
        <slot />
        <Footer />
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
    body {
    font-family: 'Lexend Variable', sans-serif;
    }
</style>
